body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;

}

h1 {
    font-size: 50px;
    font-weight: 500;
  }

  h2 {
    font-size: 42px;
    font-weight: 300;
  }

.linkhead {
    color: aquamarine;
    font-size: 16px;
  }
   

p {
  color:gray;
  font-size: 21px;
}
  

.footer {
  text-align: right;

}